<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    
    <!-- font awesome for the trashcan icon --> 
    <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
    
    <title>Seekers of Dao</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="images/logo.png" alt="logo" class="header-logo">
                <h1 class="app-name">{{{appName}}}</h1>
            </div>
            <nav class="nav-items">
                <ul>
                    <!-- conditional rendering based on variables - Is the user logged in?-->
                    {{#if loggedIn}}
                        <li><a href="/">Home</a></li>
                        <li><a href="/profile">Profile</a></li>
                        {{#if user.sect}}
                            <li><a href="/sects/{{user.sect}}">{{user.sect}}</a></li>
                        {{else}}
                            <li><a href="/sects">Join a Sect</a></li>
                        {{/if}}
                        <li><a href="/logout">Logout <span>{{user.username}}</span></a></li>
                        <div class="user-info">
                            <!-- conditional rendering based on variables -->
                            <img src="{{#if user.avatar_img}}
                                            {{user.avatar_img}}
                                        {{else}}
                                            /avatar/{{user.username}}
                                        {{/if}}" 
                                        alt="User Avatar" 
                                        class="header-avatar">
                            <img src="{{#if user.avatar_frame}}
                                            {{user.avatar_frame}}
                                        {{else}}
                                            /frame/{{user.username}}
                                        {{/if}}" 
                                        alt="User Frame" 
                                        class="header-frame">
                        </div>
                    {{else}}
                        <li><a href="/">Home</a></li>
                        <li><a href="/background">Background</a></li>
                        <li><a href="/auth/google">Login/Register</a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </header>

    {{{body}}}

    <footer>
        <p>© {{{copyrightYear}}} {{{appName}}}. All rights reserved.</p>
    </footer>
</body>
</html>
